<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hezhe.springsecurity.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.hezhe.springsecurity.model.Permission">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="permission_name" jdbcType="VARCHAR" property="permissionName"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <insert id="insert" parameterType="com.hezhe.springsecurity.model.Permission">
        insert into t_permission (permission_name, url)
        values (#{permissionName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.hezhe.springsecurity.model.Permission">
        insert into t_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="permissionName != null">
                permission_name,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="permissionName != null">
                #{permissionName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deletePermissionById">
        delete from t_permission
        where id in
        <foreach close=")" collection="ids" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectAllPermission" resultType="com.hezhe.springsecurity.model.Permission">
        select * from t_permission
    </select>

    <select id="selectPerNameByRid" resultType="java.lang.String">
        select p.permission_name from t_role r , t_permission p , t_role_permission rp
        where r.id = rp.rid and p.id = rp.pid
        and r.id in
        <foreach collection="rids" item="rid" separator="," open="(" close=")">
            #{rid}
        </foreach>
    </select>
</mapper>